{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h2>Absent more than 9 consecutive days</h2>
            <div>
                <form action="" method="post">
                    <label for="from">From</label>
                    <input type="date" id="from" name="start" required/>
                    <lable for="to">To</lable>
                    <input type="date" id="to" name="end" required/>
                    <input type="submit" name='submit' value="submit" />
                </form>
            </div>
        </div>
    </div>
</div>
{{if start !=0 and end !=0 and client_user !=0:}}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <table class="table table-bordered">
                <tr>
                    <td>User ID</td>
                    <td>User Name</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Total Absent</td>
                </tr>
                {{for user in client_user:}}
                    {{absent = db((db.Absent_Count.uuid==user.uuid) & (db.Absent_Count.absent_days >= start) & (db.Absent_Count.absent_days \
                <= end) & (db.Absent_Count.consecutive_count > 0)).select()}}
                    {{if absent:}}
                        {{for ab in absent:}}
                        <tr>
                            <td>{{=user.user_id}}</td>
                            {{name = db((db.User_Info.uuid==user.uuid) &\
                            (db.User_Info.user_id==user.user_id)).select(db.User_Info.user_name).first()}}
                            <td>{{=name.user_name}}</td>
                            {{days = db(db.Absent_Count.absent_id==ab.absent_id).select(db.Absent_Count.absent_days)}}
                            <td>{{=min(dt.absent_days for dt in days)}}</td>
                            <td>{{=max(dt.absent_days for dt in days)}}</td>
                            <td>{{=ab.consecutive_count}}</td>
                        </tr>
                        {{pass}}
                    {{pass}}
                {{pass}}
            </table>
        </div>
    </div>
</div>
{{pass}}
