{{extend 'layout.html'}}

<div class="container">
    <h2 class="text-center">
        Absent Users
    </h2>
    <table class="table table-bordered">
        <tr style="background-color:#FF6600; font-size: 21px; color:#FFFFFF; font-weight:bold;">
            <td>User ID</td>
            <td>User Name</td>
            <td>From </td>
            <td>To </td>
            <td>Absent</td>
            <td>Mail</td>
        </tr>
        {{if client_user:}}
            {{for user in  client_user:}}
                {{uuid=user.uuid}}
                {{user_id=user.user_id}}
                {{attend = db((db.Last_Attended.uuid==uuid)).select(db.Last_Attended.attend_date,db.Last_Attended.attend_time).first()}}
                {{if attend:}}
                    <tr>
                    {{
                    from datetime import datetime, timedelta
                    attend_date = attend.attend_date
                    attend_time = attend.attend_time
                    now = datetime.now().date()
                    absent = db((db.Absent_Count.uuid==uuid) & (db.Absent_Count.absent_days <= now) & \
                        (db.Absent_Count.absent_days >= attend_date) & (db.Absent_Count.consecutive_count > 0)).select()
                    mail = db(db.User_Info.uuid==uuid).select(db.User_Info.email).first()
                    if absent:
                        for ab in absent:
                    }}
                        <td style="color:red;">{{=ab.user_id}}</td>
                        {{name = db((db.User_Info.uuid==ab.uuid)).select(db.User_Info.user_name).first()}}
                        <td style="color:red;">{{=name.user_name}}</td>
                        {{days = db(db.Absent_Count.absent_id==ab.absent_id).select(db.Absent_Count.absent_days)}}
                        <td>{{=min(dt.absent_days for dt in days)}}</td>
                        <td>{{=max(dt.absent_days for dt in days)}}</td>
                        <td>{{=ab.consecutive_count}}</td>
                        <td><a class="btn btn-primary btn-sm" href="{{=URL('default','email',vars={'mail':\
                                    mail.email})}}">Email</a></td>
                       {{pass}}
                    {{pass}}
                    </tr>
                {{else:}}
                    {{name = db(db.User_Info.uuid==uuid).select(db.User_Info.user_name).first()}}
                    <tr>
                        <td style="color:gray">{{=user_id}}</td>
                        <td style="color:gray">{{=name.user_name}}</td>
                        <td style="color:gray">Never accessed</td>
                        <td style="color:gray">Never accessed</td>
                        <td></td>
                        {{mail = db(db.User_Info.uuid==uuid).select(db.User_Info.email).first()}}
                        <td><a class="btn btn-primary btn-sm" href="{{=URL('default','email',vars={'mail':mail.email})}}">Email</a></td>
                    </tr>
                {{pass}}
            {{pass}}
        {{pass}}
    </table>
</div>
