{{extend 'layout.html'}}

{{if query:}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h2 class="text-center">
                All user log
            </h2>
           <!--
            <button onclick="goBack()">Go Back</button>
           -->
            <script>
            function goBack() {
                window.history.back();
            }
            </script>
            <div>
                <a href={{=URL(vars={'log':int(request.vars.log)-1})}}>Previous</a> |
                <a href={{=URL(vars={'log':int(request.vars.log)+1})}}>Next</a>
                <table class="table table-bordered">
                    <tr style="background-color:#FF6600; font-size: 21px; color:#FFFFFF; font-weight:bold;">
                        <td>Unit Name</td>
                        <td>User ID</td>
                        <td>User Name</td>
                        <td>Access Date</td>
                        <td>Access Time</td>
                    </tr>
                    {{for q in query:}}
                        {{unit_id=q.unit_id}}
                        {{log = db(db.Users_Log.unit_id==unit_id).select(orderby=~db.Users_Log.access_date,limitby=(start,end))}}
                        {{if log:}}
                            {{for lg in log:}}
                                {{uuid = db((db.Unit_Users.unit_id==unit_id) & (db.Unit_Users.user_id==lg.user_id)).select(db.Unit_Users.uuid).first()}}
                                {{if uuid:}}
                                    {{name=db(db.User_Info.uuid==uuid.uuid).select(db.User_Info.user_name).first()}}
                                    <tr>
                                        <td>{{=db.Units(db.Units.unit_id==unit_id).unit_name}}</td>
                                        <td>{{=lg.user_id}}</td>
                                        <td>{{=name.user_name}}</td>
                                        <td>{{=lg.access_date}}</td>
                                        <td>{{=lg.access_time}}</td>
                                     </tr>
                                {{pass}}
                            {{pass}}
                        {{pass}}
                    {{pass}}
                </table>
            </div>
        </div>
    </div>
</div>

{{pass}}
