{{extend 'layout.html'}}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2 class="text-center">
                Device Status
            </h2>
            <table class="table table-bordered">
                <tr style="background-color:#FF6600; font-size: 21px; color:#FFFFFF; font-weight:bold;">
                    <td>Unit Name</td>
                    <td>Last Connected Date</td>
                    <td>Last Connected Time</td>
                    <td>Alive</td>
                </tr>
                {{for unit in units:}}
                    {{status = db((db.Alive.client_id==unit.client_id) & (db.Alive.unit_id==unit.unit_id)).select().first()}}
                    {{if status:}}
                    <tr>
                        <td>{{=db.Units(db.Units.unit_id==status.unit_id).unit_name}}</td>
                        {{
                        date = status.last_connected.strftime("%d-%m-%Y")
                        d = status.last_connected.strftime("%I:%M %p")
                        }}
                        <td>{{=date}}</td>
                        <td>{{=d}}</td>
                        {{
                        def getTimeDifferenceFromNow(TimeStart, TimeEnd):
                            timeDiff = TimeEnd - TimeStart
                            return timeDiff.total_seconds() / 60

                        from datetime import datetime
                        d1 = status.server_datetime
                        d2 = datetime.now()
                        min=int(getTimeDifferenceFromNow(d1,d2))
                        if min > 20:
                        }}
                        <td>No</td>
                        {{else:}}
                        <td>Yes</td>
                        {{pass}}
                    </tr>
                    {{pass}}
                {{pass}}
            </table>
        </div>
    </div>
</div>
