{{extend 'layout.html'}}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

  </script>
{{if client_user:}}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <form action="{{=URL('default','leave_granted')}}" method="post">
                <table class="table table-bordered">
                    <tr>
                        <td>User</td>
                        <td>Leave Date</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>
                            <select name="user_id">
                                {{for user in client_user:}}
                                    {{name=db(db.User_Info.uuid==user.uuid).select(db.User_Info.user_name).first()}}
                                    {{if name:}}
                                        <option value="{{=user.user_id}},{{=user.uuid}}">
                                            id: {{=user.user_id}}  Name:{{=name.user_name}}
                                        </option>
                                    {{else:}}
                                        <option value="{{=user.user_id}},{{=user.uuid}}">{{=user.user_id}}  |  No Name Found</option>
                                    {{pass}}
                                {{pass}}
                             </select>
                        </td>
                        <td>
                            <lable id="from">From: </lable><input type="date" id="from" name="startdate">
                            <lable id="to">To: </lable><input type="date" id="to" name="enddate">
                        </td>
                        <td>
                            <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Add" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-md-12 col-sm-12">
            <table class="table table-bordered">
                <tr style="background-color:">
                    <td>User Id</td>
                    <td>User Name</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Action</td>
                </tr>
                {{for user in client_user:}}
                    {{leave = db((db.Leave_Granted.client_id==user.client_id) & (db.Leave_Granted.uuid==user.uuid)).select()}}
                    {{if leave:}}
                        {{for lv in leave:}}
                            <tr>
                                <td>
                                    {{=lv.user_id}}
                                </td>
                                {{name=db(db.User_Info.uuid==lv.uuid).select(db.User_Info.user_name).first()}}
                                {{if name:}}
                                    <td>
                                        {{=name.user_name}}
                                    </td>
                                {{pass}}
                                <td>{{=lv.start_date}}</td>
                                <td>{{=lv.end_date}}</td>
                                <td>
                                    {{leave_id=db.Leave_Granted((db.Leave_Granted.client_id==user.client_id) &\
                                    (db.Leave_Granted.uuid==user.uuid)).leave_id}}
                                    <a class="btn btn-primary btn-sm" href="{{=URL('default', 'deleteLeave', args=[user.client_id,user.user_id,user.uuid,leave_id])}}">Delete</a>
                                </td>
                            </tr>
                        {{pass}}
                    {{pass}}
                {{pass}}
            </table>
        </div>
    </div>
</div>
{{pass}}
