{{extend 'layout.html'}}
{{import calendar}}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <form action="" method="post">
                <label for="userId">User ID</label>
                <input type="text" name="user_id" id="userId" placeholder="Enter User Id"/>
                <label for="month">Month</label>
                <select id="month" name="month">
                    {{i=1}}
                    {{while i < 13:}}
                        <option value="{{=i}}">{{=calendar.month_name[i]}}</option>
                        {{i += 1}}
                    {{pass}}
                </select>
                <input class="btn btn-primary btn-sm" type="submit" name="submit" value="submit">
            </form>
        </div>
    </div>
</div>


{{if days:}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table class="table table-bordered">
                <h3>
                    Total Absent: {{=days[0]}}
                </h3>
                <tr style="color:red; font-size: 25px;">
                    <td>Absent Dates</td>
                </tr>
                {{for d in days[1]:}}
                <tr>
                    <td>{{=d}}</td>
                </tr>
                {{pass}}
            </table>
        </div>
    </div>
</div>
{{pass}}
