{{extend 'layout.html'}}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<script>
    $(document).ready( function() {
        $('#auto').load("{{=URL('default', 'pendingStatus')}}");
        refresh();
    });
    
    function refresh()
    {
        /*
        setTimeout( function () {
            $('#auto').fadeOut('slow').load("{{=URL('default', 'pendingStatus')}}").fadeIn('slow');
            refresh();
        }, 3000);
        */
    }
</script>

<style>
select{border:1px solid #FFF;height: 34px;width: 200px; padding: 6px 12px;line-height: 1.42857143; background: #FFF;}
.selectwrap{position: relative;float: middle; background: #FFF;}
</style>

<div class="container-fluid">
    <h2 class="text-center">All Users</h2>
   <div class="table">
       <form method="post" action="{{=URL('default', 'change_access')}}" onsubmit="return confirm('Please wait, we are working. Your change will take some time to execute!');">
           <div class="text-center">
               <button type="submit" class="btn btn-primary btn-md" name="submit">Save</button>
               <div id="stat">
                   <h4 id="auto" style="color:red;"></h4>
               </div>
           </div>
            <table class="table table-bordered text-center">
                <tr style="background-color:#FF6600; font-size: 21px; color:#FFFFFF; font-weight:bold;">
                    <td>User ID</td>
                    <td>User Name</td>
                    {{for cu in ClientUnits:}}
                        <td>{{=db.Units(db.Units.unit_id==cu.unit_id).unit_name}}</td>
                    {{pass}}
                </tr>
                {{for user in client_user:}}
                    <tr>
                        <td>{{=user.user_id}}</td>
                        <td>
                            {{id=db.User_Info((db.User_Info.user_id==user.user_id) & (db.User_Info.uuid==user.uuid)).id}}
                            {{name=db((db.User_Info.user_id==user.user_id) & (db.User_Info.uuid==user.uuid))\
                            .select(db.User_Info.user_name).first()}}
                            <a href="{{=URL('default', 'updateUser', args=id)}}">{{=name.user_name}}</a>
                        </td>
                        {{for cu in ClientUnits:}}
                            <input type="hidden" name="user_name" value="{{=name.user_name}}" />
                            <input type="hidden" name="user_id" value="{{=user.user_id}}" />
                            <input type="hidden" name="unit_id" value="{{=cu.unit_id}}" />
                            <input type="hidden" name="uuid" value="{{=user.uuid}}" />
                            {{access=db((db.Unit_Users.unit_id==cu.unit_id) & (db.Unit_Users.user_id==user.user_id)).select()}}
                            <td>
                                <div class="selectwrap">
                                {{if access:}}
                                    {{for a in access:}}
                                        <select name="access">
                                            <option value="{{=a.access_type}}">{{=a.access_type}}</option>
                                           {{if a.access_type=='Regular Access':}}
                                            <option value="Admin">Admin</option>
                                            <option value="No Access">No Access</option>
                                           {{elif a.access_type=='Admin':}}
                                              <option value="Regular Access">Regular Access</option>
                                              <option value="No Access">No Access</option>
                                           {{pass}}
                                        </select>
                                    {{pass}}
                                {{else:}}	
                                  <select name="access">
                                    <option value="No Access">No Access</option>
                                    <option value="Regular Access">Regular Access</option>
                                    <option value="Admin">Admin</option>
                                  </select>
                                {{pass}}
                                </div>
                            </td>
                        {{pass}}
                    </tr>
                {{pass}}
            </table>
        </form>
    </div>
</div>

<script>
    $('.selectpicker').selectpicker({
      style: 'transparent',
      size: 4
    });
</script>
