{{extend 'layout.html'}}

<style type="text/css">
.input-group {
    width:100%;
}
</style>

<div class="container">
    <div class="row">
        <h2>
            User Registration
        </h2>
        <div class="col-md-6 col-sm-12">
            <form id="contact-form" method="post" action="{{=URL('default', 'UserRegistration')}}" role="form">
                <div class="form-group has-success">
                    {{units = db(db.Client_Unit.client_id=="%(client_id)s" % auth.user).select(db.Client_Unit.unit_id)}}
                    <table>
                        {{for unit in units:}}
                        <tr>
                            <td>
                                <input type="checkbox" class="custom-control-input" name="unit_id" id="device" value="{{=unit.unit_id}}">
                            </td>
                            <td>
                                <input type="hidden" name="unit_name" value="{{=db.Units(db.Units.unit_id==unit.unit_id).unit_name}}"/>
                                {{=db.Units(db.Units.unit_id==unit.unit_id).unit_name}}
                            </td>
                        </tr>
                        {{pass}}
                    </table>
                  </div>
                  <div class='form-group'>
                    <div class='row'>
                        <div class="col-md-6">
                            <label for="firstname">*First Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter First Name" required="required" data-error="Firstname is required." />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="lastname">*Last Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter Last Name" required="required" data-error="Lastname is required." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" data-error="Valid email is required." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="fathername">*Father's Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="fathername" id="fathername" placeholder="Enter Father's Name" required="required" data-error="Father's name is required." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="mothername">*Mother's Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="mothername" id="mothername" placeholder="Enter Mother's Name" required="required" data-error="Mother's name is required." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="session">*Session</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="session" id="session" placeholder="Enter Session" required="required" data-error="Session is required." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="ClassRoll">*Class Roll</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="classroll" id="ClassRoll" placeholder="Enter Class Roll" required="required" data-error="Class Roll is required." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="cardno">*Card No.</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="cardno" id="cardno" placeholder="Enter Card No." required="required" data-error="Card No. is required." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone No.</label>
                    <div class="input-group">
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Phone No." data-error="Valid Phone No." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="addr">Address</label>
                    <div class="input-group">
                        <textarea name="address" id="addr" class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right" />
            </form>
        </div>
    </div>
</div>
<script>
    $('.custom-checkbox').prop('indeterminate', true)
</script>
