{{extend 'layout.html'}}
<style>
.input-group {
    width:100%;
}
</style>
 {{client_id="%(client_id)s" % auth.user}}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <form id="contact-form" method="post" action="{{=URL('default', 'userRegistration')}}" role="form">
                    {{unit = db(db.Client_Unit.client_id==client_id).select(db.Client_Unit.unit_id)}}
                    {{if unit:}}
                        <div class="form-group">
                            <label for="InputUnit">Choose Device</label>
                            <br/>
                            {{for u in unit:}}
                                {{name = db(db.Units.unit_id==u.unit_id).select(db.Units.unit_name).first()}}
                                <input type="checkbox" id="InputUnit" name="unit" value="{{=u.unit_id}}"/>
                                {{=name.unit_name}}<br/>
                            {{pass}}
                        </div>
                    <div class='form-group'>
                        <div class='row'>
                            <div class="col-md-6">
                                <label for="InputName">First Name</label>
                                <div class="input-group">
                                <input type="text" class="form-control" name="firstname" id="InputName" placeholder="Enter First Name" required="required" data-error="Firstname is required." />
                                </div>
                            </div>
                            <div class="col-md-6">
                                 <label for="InputName">Last Name</label>
                                <div class="input-group">
                                <input type="text" class="form-control" name="lastname" id="InputName" placeholder="Enter Last Name" required="required" data-error="Lastname is required." />
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="form-group">
                    <label for="InputEmail">Email</label>
                    <div class="input-group">
                      <input type="email" class="form-control" id="InputEmail" name="email" placeholder="Enter Email" required="required" data-error="Valid email is required." />
                      </span></div>
                  </div>
                <div class="form-group">
                    <label for="InputName">Father's Name</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="fathername" id="InputName" placeholder="Enter Father's Name" required="required" data-error="Father's name is required." />
                      </div>
                  </div>
                <div class="form-group">
                    <label for="InputName">Mother's Name</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="mothername" id="InputName" placeholder="Enter Mother's Name" required="required" data-error="Mother's name is required." />
                      </div>
                  </div>
                <div class="form-group">
                    <label for="session">Session</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="session" id="session" placeholder="Enter Session" required="required" data-error="Session is required." />
                      </div>
                  </div>
                <div class="form-group">
                    <label for="roll">Class Roll</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="classroll" id="roll" placeholder="Enter Class Roll" required="required" data-error="Enter Class Roll No." />
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="card">Card No.</label>
                    <div class="input-group">
                      <input type="text" class="form-control" name="card" id="card" placeholder="Enter Class Roll" required="required" data-error="Enter Valid Card." />
                      </div>
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone No.</label>
                    <div class="input-group">
                      <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Phone No." required="required" data-error="Valid Phone No." />
                      </span></div>
                  </div>
                  <div class="form-group">
                    <label for="addr">Address</label>
                    <div class="input-group">
                      <textarea name="address" id="addr" class="form-control" rows="5" required></textarea>
                    </div>
                  </div>
                      <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right" />
                    {{else:}}
                        <h2>Please register your device!</h2>
                    {{pass}}
                </form>
            </div>
        </div>
    </div>
